@model IEnumerable<Storyunit.Models.Uitgever>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UitgeverNaam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UitgeverNaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UitgeverID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UitgeverID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UitgeverID })
        </td>
    </tr>
}

</table>
