@model IEnumerable<Storyunit.Models.Taal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Taal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Taal1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaalID })
        </td>
    </tr>
}

</table>
