@model IEnumerable<Storyunit.Models.spAllboekenAuteur_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuteurVoornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuteurAchternaam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuteurVoornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuteurAchternaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuteurID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuteurID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuteurID })
        </td>
    </tr>
}

</table>
