@model Storyunit.Models.Boek

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Boek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afmeting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afmeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Druk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Druk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotolink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fotolink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Auteur.AuteurVoornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Auteur.AuteurVoornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taal.Taal1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taal.Taal1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uitgever.UitgeverNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uitgever.UitgeverNaam)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
